@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Taruh Style Navbar Disini */
.nav-box{
    position: fixed;
    background-color: white;
    z-index: 3;
    width: 100%;  
    height: 12vh;
    top: 0;
    display: flex;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    justify-content: space-between;
}
.nav-wrapper ul {  
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    margin: 10px;
}
.li-navbar {
    list-style-type: none;
    padding: 0 20px;
    margin: 0;
    font-size: 15px;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}
.a-navbar {
    color: #ABABAB;
    text-decoration: none;
    font-weight: 450;
}
.logo-cont img {
    margin-left: 20px;
    width: 65px;
}
.a-navbar-now {
    color: #90B474;
    text-decoration: underline;
    font-weight: 650;
}
.a-navbar:hover{
    color: #919191;
    font-weight: 550;
}

/* Navbar End */

.slider {
    margin-top: 200px;
    display: flex;
    align-items: center;
}

.slide-container {
    width: 100%;
    display: flex;
    overflow: hidden;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-shrink: 0;
    transition: transform 0.5s ease;
}

.slide img {
    border-radius: 10%;
    max-width: 100%;
    height: 100%;
}

.prev, .next {
    border: none;
    padding: 10px;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 100px;
    height: 100px;
}

.prev {
    margin-left: 500px;
    background-image: url('./assets/nextkiri.png');
}

.next {
    margin-right: 500px;
    background-image: url('./assets/nextkanan.png');
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
}

.item {
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out; 
    position: relative;
    overflow: hidden; 
    cursor: pointer;
}

.item img {
    border-radius: 10%;
    width: 80%;
    height: 100%;
}

.top h1 {
    margin-left: 50px;
    margin-top: 100px;
}

.item:hover {
    transform: scale(1.1); 
}

.wrapper-product{
    margin : 130px 30px 20px 30px;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 30px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    background-color: #99B080;
}
.wrapper-product {
  margin: 130px 30px 20px 30px;
}

.header-product {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.product-category {
  padding: 0 2vw;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
  text-transform: capitalize;
}

.product-container, .product-container1 {
  display: flex;
  overflow-x: auto;
  padding: 0 2vw;
  scroll-behavior: smooth;
  position: relative; 
}

.product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  flex: 0 0 auto;
  width: 250px;
  height: 295px;
  margin-right: 40px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative; 
}

.product-image img {
  object-fit: cover;
  width: 100%;
  height: 70%;
  border-radius: 10px;
}

.product-btn {
  margin-top: 10px;
  width: 100%;
  text-transform: capitalize;
  background: #90B474;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
  padding: 5px 10px;
}

.product-card:hover .product-btn {
  opacity: 1;
}
.pre-btn,
.nxt-btn {
  border: none;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ABABAB; 
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 46%; 
  transform: translateY(-50%); 
  z-index: 2; 
  transition: background 0.3s;
}

.pre-btn {
  left: 0; 
}

.nxt-btn {
  right: 0; 
}

.pre-btn img,
.nxt-btn img {
  width: 15px;
}

.pre-btn:hover,
.nxt-btn:hover {
  background: #90B474; 
}
.pre-btn1,
.nxt-btn1 {
  border: none;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ABABAB; 
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 115%; 
  transform: translateY(-50%); 
  z-index: 2; 
  transition: background 0.3s;
}

.pre-btn1 {
  left: 0; 
}

.nxt-btn1 {
  right: 0; 
}

.pre-btn1 img,
.nxt-btn1 img {
  width: 15px; 
}

.pre-btn1:hover,
.nxt-btn:hover {
  background: #90B474; 
}

.container{
    display: flex;
}
.ftkue{
  padding: 10%;
  padding-top: 20%;
    height: 80%;
    width: 80%;
}

.name1{
  padding-top: 8%;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.footer {
  bottom: 0;
  width: 100%;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  color: #fff;
  background-color: #A7D397;
}

.footer h1 {
  margin: 0;
  padding: 0;
  font-size: medium;
}

.about1 {
  padding-top: 15px;
}

.contact-container{
    max-width: 960px;
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:1.5rem;
    
 }
.form-container{
   padding: 20px;
 }
.form-container h3{
 margin-left: -5%;
 font-size: 2.0rem;
 font-weight: 600;
 margin-bottom:  1rem;
 margin-top: 40%;
 color:black;
}
.form-container label {
   font-weight: 800;
 color:black;

}
.contact-form{
   display: grid;
   row-gap: 1rem;
}
.contact-form input,
.contact-form textarea{
   width: 100%;
   border: none;
   outline: none;
   background: #8080802e;
   padding: 10px;
   font-size: 0.9rem;
   color:black ;
   border-radius: 0.4rem;

}
.contact-form textarea{
   resize: none;
   height: 200px;
}
.contact-form .send-button{
   border: none;
   outline: none;
   background: #90B474;
   font-size: 1rem;
   font-weight: 500;
   text-transform: uppercase;
   cursor: pointer;
}
.contact-form .send-button:hover {
   background: hsl(181, 100%,44%,0.8);
   transition: 0.3s all linear;

}
.map iframe{
   display: flex;
   flex-direction: column;
   width: 90%;
   height: 65%;
   margin-left:10%;
   margin-top:50%;
}
/* Taruh Style Navbar Disini */
.nav-box{
    position: fixed;
    background-color: white;
    z-index: 3;
    width: 100%;  
    height: 12vh;
    top: 0;
    display: flex;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    justify-content: space-between;
}
.nav-wrapper ul {  
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    margin: 10px;
}
.li-navbar {
    list-style-type: none;
    padding: 0 20px;
    margin: 0;
    font-size: 15px;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}
.a-navbar {
    color: #ABABAB;
    text-decoration: none;
    font-weight: 450;
}
.logo-cont img {
    margin-left: 20px;
    width: 65px;
}
.a-navbar-now {
    color: #90B474;
    text-decoration: underline;
    font-weight: 650;
}
.a-navbar:hover{
    color: #919191;
    font-weight: 550;
}

/* Navbar End */
.sliders {
    margin-top: 200px;
    display: flex;
    align-items: center;
}

.slide-containers {
    width: 100%;
    display: flex;
    overflow: hidden;
}

.geser {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-shrink: 0;
    transition: transform 0.5s ease;
    background-color: rgb(65, 223, 65);
    border-radius: 10%;
    height: 500px;
}

.geser img {
    border-radius: 10%;
    max-width: 30%;
    height: 200px;
    margin-bottom: 200px;
    margin-left: -10px;
    position: fixed;
}

.geser p {
    margin-top: 200px;
    text-align: center;
    width: 500px;
    position: fixed;
}

.geser h1 {
    margin-top: 100px;
    text-align: center;
    width: 500px;
    position: fixed;
}

.prev, .next {
    border: none;
    padding: 10px;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 100px;
    height: 100px;
}

.prev {
    margin-left: 300px;
    background-image: url('nextkiri.png');
}

.next {
    margin-right: 300px;
    background-image: url('nextkanan.png');
}

.footer {
border-top: #000;
padding-left: 550px;
margin-top: 30px;
}

/* Responsive CSS */

@media (max-width: 768px) {
    .sliders {
      margin-top: 100px;
    }
  
    .geser {
      height: 400px;
    }
  
    .geser img {
      max-width: 50%;
      max-height: 30%;
      margin-bottom: 150px;
      margin-left: 0;
    }
  
    .geser p {
      margin-top: 250px;
      width: 200px;
    }
  
    .geser h1 {
      margin-top: 50px;
      width: 200px;
    }
  
    .prev, .next {
      width: 50px;
      height: 50px;
    }
  
    .prev {
      margin-left: 100px;
    }
  
    .next {
      margin-right: 100px;
    }
  
    .footer {
      padding-left: 150px;
    }
  }
